<% include partials/header %>

<center>
  <div class="ui container">
    <div class="ui equal width grid">
          <div class="left floated left aligned column">
          <h5>  
            <img class="ui middle aligned circular tiny image" src="/uploads/robot4.png" style="opacity:0.9">
              Binance Crypto Bot - Performance Data
          </h5>    
          </div>
    </div>
    <div class="ui divider"></div>
    
    Performance Data here...
      
    </div> 

<div style="font-size:smaller;" class="ui mini inverted vertical footer segment">
  <center
    <p>
      <img class="ui small image" style="opacity: 0.5; width:60px; height:50px;" src="/uploads/robot4.png">
      Binance Crypto Bot
    </p>
  </center>  
</div>

<% include partials/footer %>
